<mat-toolbar color="primary">
  <span>Tucker Gardens</span>
  <span class="example-fill-remaining-space"></span>  
  <a routerLink="home">
  <button mat-raised-button class="nav-btn" >Home</button>
  </a>
  <a routerLink="about">
  <button mat-raised-button class="nav-btn" >About</button>
  </a>
  <a routerLink="register">
  <button mat-raised-button class="nav-btn" >Register</button>
  </a>
  <a routerLink="login">
  <button mat-raised-button class="nav-btn" >Login</button>
  </a>
</mat-toolbar>