<div class="row toppee">
  <img class="img-responsive" id="tuckerpic" src="../../assets/strawberry flds_1476_870xauto.jpg" alt="Tucker">
  <h1 id="abouttucker">About Josh Tucker, our Founder</h1>
  <div class="col-sm-6 paras">
    <p>
      Josh Tucker, the founder and soul of Garden, has been passionate about plants since he was 10 years old. He
      began gardening
      with his grandparents, starting with tomatoes and eventually moving to squash and pumpkin gardening.
    </p>
    <p>
      Garden is a passion project Josh has started with encouragement from his grandparents.
      If you would like to get in contact with Josh
      , for
      business or pleasure, please use the form below.
    </p>
  </div>
</div>
<div class="row abouttext">
  <div class="col-sm-6">
    <form class="formspree" id="emailForm" method="POST" action="https://formspree.io/connor.mellencamp@gmail.com">
      <input type="email" id="emailadd" name="email" placeholder="Your email">
      <br><br>
      <textarea id="emailmess" name="message" placeholder="Your message" rows="6"></textarea>
      <br>
      <button type="submit" id="emailSubmit">Send</button>
    </form>
  </div>
</div>