<h1 id="products">Our Products</h1>
<div class="deck">
  <div class="card">
      <div class="cardContainer">
        <ul>
            <li #ngFor="let product of products$">
                <a routerLink="/details/{{product.id}}">{{ product.product_name }}</a>

                <ul>
                    <li>{{ product.product_description }}</li>
                    <li>{{ product.product_price }}</li>
                    <li>{{ product.image }}</li>
                    <li>{{ product.createdAt }}</li>
                    <li>{{ product.updatedAt }}</li>
                    <li>{{ product.product_description }}</li>
                </ul>
            </li>
        </ul>
    </div>
  </div>
</div>